{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "extends": ["eslint:recommended", "google"],
  "plugins": ["jest"],
  "rules": {
    "semi": ["error", "never"],
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "object-curly-spacing": ["error", "always"],
    "operator-linebreak": "off"
  }
}