@import "mixins";
@import "variables";

.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  right: 0;
  left: 0;
  overflow-x: auto;
  padding-bottom: 2px;

  & .row {
    display: flex;
    height: $row-height;
    min-height: 20px;

    &__info {
      @include info-cell;
      position: relative;
      min-width: $info-cell-width;
      user-select: none;
    }

    &__data {
      display: flex;

      & .column {
        @include info-cell;
        position: relative;
        width: $cell-width;
        min-width: 40px;
        user-select: none;
      }

      & .cell {
        @include cell;
        width: $cell-width;
        min-width: 40px;
        padding: 5px;
        color: $text-main-color;
        white-space: nowrap;

        &:focus {
          z-index: 2;
          border: 1px solid $app-color;
          outline: 1px solid $app-color;
        }
      }
    }

    & .row__resize,
    & .column__resize {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 100;
      background-color: $warning-main-color;
      opacity: 0;

      &:hover {
        opacity: 1 !important;
      }
    }

    & .row__resize {
      left: 0;
      height: 4px;

      &:hover {
        cursor: row-resize;
      }
    }

    & .column__resize {
      top: 0;
      width: 4px;

      &:hover {
        cursor: col-resize;
      }
    }
  }
}